---
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
import PageLayout from "../layouts/PageLayout.astro";
import { blog } from "../lib/markdoc/frontmatter.schema";
import { readAll } from "../lib/markdoc/read";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );

const tags = [
  ...new Set(
    sortedPosts
      .map((post) => post.frontmatter.tags)
      .flat()
      .filter(Boolean)
  ),
];
---

<script>
  const clickedTopics: string[] = [];

  document.addEventListener("click", (e: any) => {
    if (e.target.classList.contains("topic-item")) {
      const topic = e.target.dataset.topic;

      if (clickedTopics.includes(topic)) {
        wasRemoved = true;
      }

      if (clickedTopics.includes(topic)) {
        clickedTopics.splice(clickedTopics.indexOf(topic), 1);
      } else {
        clickedTopics.push(topic);
      }

      document.querySelectorAll(".topic-item").forEach((post: any) => {
        let isInList = false;

        if (clickedTopics.includes(post.dataset.topic)) {
          isInList = true;
        }

        if (isInList) {
          post.style.opacity = 1;
        } else {
          post.style.opacity = 0.5;
        }
      });

      const posts = document.querySelectorAll(".topic-list-item");

      posts.forEach((post: any) => {
        if (clickedTopics.length === 0) {
          post.style.display = "block";
          return;
        }

        if (!post.dataset["topic"]) {
          post.style.display = "none";
          return;
        }

        const postTopics = post.dataset.topic.split(",");

        let hasAllTopics = true;

        clickedTopics.forEach((clickedTopic) => {
          if (!postTopics.includes(clickedTopic)) {
            hasAllTopics = false;
          }
        });

        if (hasAllTopics) {
          post.style.display = "block";
        } else {
          post.style.display = "none";
        }
      });
    }
  });
</script>

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <h3>Search Blogs by topics1</h3>

    <div class="flex flex-row space-x-2 flex-wrap space-y-2">
      {
        tags.map((topic) => {
          return (
            <div
              data-topic={topic}
              class={`
                topic-item 
                opacity-75
                border-[2px] border-gray-300
                bg-gray-200 px-3 py-1 whitespace-nowrap
                rounded-xl flex justify-center items-center
                hover:bg-gray-300 hover:border-[2px] hover:border-primary-blue
                hover:cursor-pointer

                dark:bg-gray-700 dark:border-gray-700 dark:hover:bg-gray-400 dark:hover:border-gray-600
                
                `}
            >
              {topic}
            </div>
          );
        })
      }
    </div>

    <br />

    <ul>
      {
        sortedPosts.map((post) => {
          const formattedDate = new Date(
            post.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li
              class="topic-list-item"
              data-topic={post.frontmatter?.tags?.join(",")}
              class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3"
            >
              <div class="title">
                {post.frontmatter.external ? (
                  <a
                    href={post.frontmatter.url}
                    target="_blank"
                    class="unset
                        transition-[background-size] duration-300 
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                  >
                    <span>{post.frontmatter.title}</span>
                    <span>
                      <i class="ml-1 text-[12px] fa-solid fa-up-right-from-square" />
                    </span>
                  </a>
                ) : (
                  <a
                    href={`/blog/${post.slug}`}
                    class="unset
                        transition-[background-size] duration-300 
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                  >
                    {post.frontmatter.title}
                  </a>
                )}
              </div>
              <div class="text-text-muted text-sm italic">
                <time datetime={post.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>

    <!-- <div class="m-auto w-7/12 pt-12">
      <img src="favicon/logo.png" alt="logo" class="rounded-2xl" />
    </div> -->
  </section>
</PageLayout>
